p {
  font-family: Lato;
}
.custom-icon-color {
  color: #ff8080;
}
.icon-display {
  transform: scale(0.4);
}


.bluebackground ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #0070A9 !important;
}

/*.bluecheckmark::ng-deep mat-checkbox.buyItNowLabel .mat-checkbox-checkmark-path {
  stroke: #0070A9 !important;
}*/
.bluecheckmark ::ng-deep mat-checkbox .mat-checkbox-checkmark-path 
{
  stroke:  #0070A9 !important;
}
.crosscheckmark ::ng-deep .mat-checkbox
  .mat-checkbox-background {
    color: cornflowerblue;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23ff4081'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z'/%3E%3C/svg%3E");
    background-position: center;
    background-size: contain;
}
