<!-- <hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p> -->
<div class="inputcontainer">
  <span style="margin-left: 30px;color:white">Age</span>
  <div style="margin-left: 30px;">
    <mat-form-field>
      <mat-label>Enter Age</mat-label>
      <input matInput />
    </mat-form-field>
    <!-- <mat-error style="border:0px solid red;vertical-align:middle;">
    <i style="font-size:20px;border:0px solid red"class="material-icons">warning_amber</i> 
      Please enter a valid email address
    </mat-error> -->
  </div>
</div>
<span>Default</span>
<div class="inputcontainer">
  <span style="margin-left: 30px;color:white">Age</span>
    <div style="margin-left: 30px;" class="inputValuecolor">
      <mat-form-field>
        <mat-label>Enter Age</mat-label>
        <input matInput />
      </mat-form-field>
      <!-- <mat-error style="border:0px solid red;vertical-align:middle;">
      <i style="font-size:20px;border:0px solid red"class="material-icons">warning_amber</i> 
        Please enter a valid email address
      </mat-error> -->
    </div>
</div>
<span>Enter</span>
<div class="inputcontainer">
  <span style="margin-left: 30px;color:white">Age</span>
    <div style="margin-left: 30px;" class="disabledmatlabelcolor">
      <mat-form-field>
        <mat-label>Enter Age</mat-label>
        <input matInput [disabled]="true"/>
        <mat-error style="border:5px solid red;">sssss</mat-error>
      </mat-form-field>
      <!-- <mat-error style="border:0px solid red;vertical-align:middle;">
      <i style="font-size:20px;border:0px solid red"class="material-icons">warning_amber</i> 
        Please enter a valid email address
      </mat-error> -->
    </div>
</div>
<span>Disabled</span>
<form >
<div class="inputcontainer">
  <span style="margin-left: 30px;color:white">Age</span>
    <div style="margin-left: 30px;" class="leftborder inputValuecolor">
      
      <mat-form-field>
        <mat-label>Enter Age</mat-label>
        <input matInput [formControl]="emailFormControl"/>
         <mat-error style="color:white;display:flex;align-item:center">
      <i style="font-size:20px;border:0px solid red"class="material-icons">warning_amber</i> 
        Please enter a valid email address
      </mat-error>
      </mat-form-field>
      <!-- <mat-error style="border:0px solid red;vertical-align:middle;">
      <i style="font-size:20px;border:0px solid red"class="material-icons">warning_amber</i> 
        Please enter a valid email address
      </mat-error> -->
    </div>
</div>
</form>
<h3>Style 1</h3>
<mat-list role="list">
  <mat-list-item role="listitem">
    <i class="material-icons icon-display">circle</i>INDIA
  </mat-list-item>
  <mat-list-item role="listitem">
    <i class="material-icons icon-display">circle</i>USA
  </mat-list-item>
  <mat-list-item role="listitem">
    <i class="material-icons icon-display">circle</i>GERMANY
  </mat-list-item>
</mat-list>
<h3>Style 2</h3>
<mat-list role="list">
  <mat-list-item role="listitem">
    <i class="material-icons custom-icon-color">done</i>INDIA
  </mat-list-item>
  <mat-list-item role="listitem">
    <i class="material-icons custom-icon-color">done</i>USA
  </mat-list-item>
  <mat-list-item role="listitem">
    <i class="material-icons custom-icon-color">done</i>GERMANY
  </mat-list-item>
</mat-list>
<section class="example-section">
  <h4>Select your toppings:</h4>
  <p class="bluebackground"><mat-checkbox>Blue selected</mat-checkbox></p>
  <p class="bluecheckmark"><mat-checkbox>Yellow selected</mat-checkbox></p>
  <p class="crosscheckmark blueborder"><mat-checkbox>Excluded</mat-checkbox></p>
  <p class="blackcheckmark graybackground">
    <mat-checkbox [checked]="true">Disabled Checked</mat-checkbox>
  </p>
  <p class="blueborder"><mat-checkbox>Blue Not Selected</mat-checkbox></p>
</section>
