<!-- <hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p> -->
<h3>Style 1</h3>
<mat-list role="list">
  <mat-list-item role="listitem">
    <i class="material-icons icon-display">circle</i>INDIA
  </mat-list-item>
  <mat-list-item role="listitem">
    <i class="material-icons icon-display">circle</i>USA
  </mat-list-item>
  <mat-list-item role="listitem">
    <i class="material-icons icon-display">circle</i>GERMANY
  </mat-list-item>
</mat-list>
<h3>Style 2</h3>
<mat-list role="list">
  <mat-list-item role="listitem">
    <i class="material-icons custom-icon-color">done</i>INDIA
  </mat-list-item>
  <mat-list-item role="listitem">
    <i class="material-icons custom-icon-color">done</i>USA
  </mat-list-item>
  <mat-list-item role="listitem">
    <i class="material-icons custom-icon-color">done</i>GERMANY
  </mat-list-item>
</mat-list>
<section class="example-section">
  <h4>Select your toppings:</h4>
  <p class="bluebackground"><mat-checkbox >Blue selected</mat-checkbox></p>
  <p class="bluecheckmark"><mat-checkbox  >Yellow selected</mat-checkbox></p>
  <p class="crosscheckmark blueborder" ><mat-checkbox>Excluded</mat-checkbox></p>
  <p class="blackcheckmark graybackground "><mat-checkbox  [checked]="true"
>Disabled Checked</mat-checkbox></p>
  <p class="blueborder" ><mat-checkbox >Blue Not Selected</mat-checkbox></p>
</section>
