p {
  font-family: Lato;
}
.custom-icon-color {
  color: #ff8080;
}
.icon-display {
  transform: scale(0.4);
}
.bluebackground
  ::ng-deep
  .mat-checkbox-checked.mat-accent
  .mat-checkbox-background {
  background-color:  #0070A9 !important;
}
/*.bluecheckmark::ng-deep mat-checkbox.buyItNowLabel .mat-checkbox-checkmark-path {
  stroke: #0070A9 !important;
}*/
.bluecheckmark ::ng-deep mat-checkbox .mat-checkbox-checkmark-path {
  stroke: #0070a9 !important;
}
.crosscheckmark ::ng-deep .mat-checkbox .mat-checkbox-background {
  background-image: url('../assets/cross.png');
  background-position: center;
  background-size: contain;
}
/*.graybackground ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color:  #d9d9d9 !important;
}*/
/*.graybackground ::ng-deep.mat-checkbox-checked.mat-accent.mat-checkbox-disabled .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: rgb(199, 187, 187) !important;
}*/
/*.checkmark ::ng-deep .mat-checkbox .mat-checkbox-inner-container {
  background-color: #0070a9;
}
::ng-deep
  .mat-checkbox-checked
  .mat-checkbox-layout
  .mat-checkbox-inner-container
  .mat-checkbox-background
  .mat-checkbox-frame {
  background-color: #00bcd2 !important;
}*/
.graybackground
  ::ng-deep
  .mat-checkbox-checked.mat-accent
  .mat-checkbox-background {
  background-color:  #c9d1d4 !important;
}
